{% extends 'base.html' %}

{% block link %}
  <link href="../static/mods.css" rel="stylesheet">
{% endblock %}


{% block content %}
  <div class="section-container">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="section-container-spacer text-center">
              <h1 class="h2">03 : About me</h1>
            </div>

            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="row">
                  <div class="col-xs-12 col-md-6">
                    <h3>Job info</h3>
                    <p>I am a highly motivated self taught software developer.
                      <br>
                      I am most familiar with full-stack web development, and have been able to use a variety of technologies throughout the development of my previous projects.
                      Examples of technologies I have used are: <a href="/weatherNow">requesting data from APIs and using asynchronous JavaScript</a> in web-based applications,
                      writing to and <a href="https://email-me-todos.herokuapp.com/">querying SQL</a> (SQLite/PostgreSQL) and <a href="https://myrestfulblogbe.herokuapp.com/">NoSQL</a> (MongoDB) databases, writing backends in Node.js(<a href="https://myrestfulblogbe.herokuapp.com/">ES5</a> as well as <a href="/weatherNow">ES6+</a>) and <a href="/">Flask</a>,
                      <a href="https://email-me-todos.herokuapp.com/">sending automated emails with smtplib</a>, styling frontends with <a href="/museumOfCandy">Bootstrap 4</a> and pure <a href="https://myrestfulblogbe.herokuapp.com/">HTML5 and CSS3 (with flexbox)</a>.
                      <br>
                      I am fluent in French and English, and also proficient in Dutch and Spanish. I am eager to take on new projects and learn new technologies.
                    </p>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <img src="./static/assets/images/profile.jpeg" class="img-responsive" alt="">
                  </div>
                </div>
              </div>
            </div>
         </div>
        </div>
      </div>
    </div>


{% endblock %}