{% extends 'base.html' %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/index.css') }}">
{% endblock %}

{% block content %}
  <div class="hero-full-container background-image-container  white-text-container">
    <div class="container " >
      <div class="row">
        <div class="col-xs-12">
          <div class="hero-full-wrapper">
            <div class="text-content"  >
              <p class="h1">Judah Trementozzi</p>
              <p class="h2">Aeronautical Engineer</p>
            </div>
          </div>
          <div id="right-blurb" class="text-center container">
            <div class="row align-items-center">
              <div class="col-md-6">
              <p class="h3">Degrees and achievements</p>
                <p class="h4">Bachelor's in Electromechanical Engineering <i class="fa fa-check-square" aria-hidden="true"></i></p>
                <p class="h4">Master's in Aeronautical Engineering <i class="fa fa-hourglass-half" aria-hidden="true"></i></p>
              </div>
              <div class="col-md-6">
                <p class="h3">Languages</p>
                <p class="h4">English 
                  {% for i in range(5) %}
                    <i class="fa fa-star" aria-hidden="true"></i> 
                  {% endfor %}
                </p>
                <p class="h4">French 
                  {% for i in range(5) %} 
                    <i class="fa fa-star" aria-hidden="true"></i> 
                  {% endfor %} 
                </p>
                <p class="h4">Dutch 
                  {% for i in range(5) %} 
                    {% if i < 3 %} 
                      <i class="fa fa-star" aria-hidden="true"></i> 
                    {% else %} 
                      <i class="fa fa-star-o" aria-hidden="true"></i> 
                    {% endif %} 
                  {% endfor %} 
                </p>
              </div>
            </div>
        </div>
    </div>
  </div>



{% endblock %}
