{% extends 'base.html' %}

{% block link %}
{% endblock %}


{% block content %}
<div class="section-container" style="padding: 250px;">
      <div class="container-fluid ">
        <div class="row text-center">
            <div class="col-xl">
                <h1 class="h1">Error</h1>
                <h2 class="h2">This page does not exist.</h2>
                <p>
                    <a class="h3" href="./">Click to return home</a>
                </p>
            </div>
        </div>
    </div>
</div>




{% endblock %}